<div class="row">
	<div class="col-sm-12" style="padding-left: 0;">
		<div>
			<h1 style="padding-left: 0;">Bookmark Details</h1>
		</div>
	</div>
</div>

<div class="row" ng-controller="BookmarkDetailsController as BkmdCtrl">
	<div class="col-xs-12">
		<div class="row">
			<h2>{{BkmdCtrl.bookmark.title}}</h2>
		</div>
		<div class="row">
			<h4>Saved in category <b>{{ BkmdCtrl.bookmark.category.name }}</b> at <b>{{ BkmdCtrl.bookmark.createdDate | date:'dd-MMM-yyyy'}}</b></h4>
		</div>
		<div class="row">
			<p><span ng-repeat="tag in BkmdCtrl.bookmark.tag"><span class="label label-primary" style="margin-right: 3px;">{{tag.name}}</span></span></p>
		</div>		
		
		<div class="row">
			<p>{{BkmdCtrl.bookmark.description}}</p>
		</div>
		
		<div class="row">
			<p>Visit: <a href="{{bookmark.url}}" target="_blank">{{ BkmdCtrl.bookmark.url }}</a></p>
		</div>
		<div class="row">
			<button class="btn btn-primary" data-toggle="modal" data-target="#import-bookmark" type="button"
				ng-click="BkmdCtrl.importBookmark(bookmark)">
				Import this bookmark
			</button>
		</div>
	</div>
	
	<div class="col-xs-12" style="height: 50px;"></div>
	
	<div class="col-xs-12 col-sm-6">
		<form name="comment-form" ng-controller="BookmarkDetailsController as BkmdCtrl" ng-submit="BkmdCtrl.addComment(BkmdCtrl.commentContent)">
			<div class="row">
				<h3>Write a comment</h3>
			</div>
			<div class="row">
				<textarea rows="5" class="form-control" ng-model="BkmdCtrl.commentContent"></textarea>
			</div>
			<div class="row">
				<button type="submit" class="btn btn-primary pull-right" style="margin: 5px 0;">OK</button>
			</div>
		</form>
	</div>
	<div class="col-sm-6"></div>
	
	<div class="col-xs-12">
		<div class="row">
			<h3>Older comments</h3>
		</div>		
	</div>	
	<div class="col-sm-12" ng-repeat="comment in BkmdCtrl.comments">
		<div class="row">
			<div class="col-sm-1 hidden-xs">
				<div class="thumbnail">
					<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
				</div>
			</div>
			<div class="col-sm-5">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>{{ comment.bookmarkUser.username }}</strong> <span class="text-muted">commented {{comment.createdDate | date:'dd-MMM-yyyy'}}</span>
					</div>
					<div class="panel-body">
						{{ comment.commentContent }}
					</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row hidden">
			<button class="btn btn-warning" type="button" data-toggle="modal" data-target="#edit-comment-modal" ng-click="">
				<span class="glyphicon glyphicon-pencil"></span>
			</button>
			<button class="btn btn-warning" type="button" data-toggle="modal" data-target="#delete-comment-modal" ng-click="BkmdCtrl.selectComment(comment)">
				<span class="glyphicon glyphicon-trash"></span>
			</button>
		</div>		
	</div>
	
	<div class="col-xs-12" style="height: 50px;"></div>	
	
	<!-- Modal -->
	<!-- Delete comment -->
	<div class="modal fade" id="delete-comment-modal" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Delete bookmark</h4>
				</div>
				<div class="modal-body">
					<p>
						Do you want to delete <i>{{BkmdCtrl.selectedComment.commentContent}}</i> ?
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="BkmdCtrl.deleteComment(BkmdCtrl.selectedComment.id)">OK</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>	
</div>
