<div class="row">
	<div class="col-sm-12">
		<div>
			<h1>Bookmark Details</h1>
		</div>
	</div>
</div>

<div class="row" ng-controller="BookmarkDetailsController as BkmdCtrl">
	<div class="col-sm-12">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th style="text-align: center;">Title</th>
					<th style="text-align: center;">Category</th>
					<th style="text-align: center; max-width: 25%;">Description</th>
					<th style="text-align: center;">URL</th>
					<th style="text-align: center;">Tags</th>
					<th style="text-align: center;">Create date</th>
					<th style="text-align: center; width: 80px;">Import</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{BkmdCtrl.bookmark.title}}</td>
					<td>{{BkmdCtrl.bookmark.category.name}}</td>
					<td>{{BkmdCtrl.bookmark.description}}</td>
					<td><a href="{{bookmark.url}}" target="_blank">{{BkmdCtrl.bookmark.url}}</a></td>
					<td><span ng-repeat="tag in BkmdCtrl.bookmark.tag"> <a
							href="#"><span class="label label-primary">{{tag.name}}</span></a>
					</span></td>
					<td style="text-align: center;">{{BkmdCtrl.bookmark.created_at
						| date:'dd-MMM-yyyy'}}</td>
					<td class="option" style="text-align: center;">
						<button class="btn btn-warning" data-toggle="modal"
							data-target="#import-bookmark" type="button"
							ng-click="BkmdCtrl.importBookmark(bookmark)">
							<span class="glyphicon glyphicon-save"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>


		<div class="row">
			<h2>Leave a Replay</h2>
			<textarea name="description" class="form-control" id="" cols="20"
				rows="10" required ng-model="BkmdCtrl.commentContent"></textarea>
			<br />
			<button type="button"
				ng-disabled="bkmCtrl.addBookmarkDetailsForm.$invalid"
				data-dismiss="modal" class="btn btn-default"
				ng-click="BkmdCtrl.addComment(BkmdCtrl.commentContent)">Comment</button>
			<br />
			<hr />
			<h2>Comments</h2>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="comment in BkmdCtrl.comments">
					{{ comment.bookmarkUser.username }} </br> {{ comment.commentContent }} </br>
					<span>{{comment.createdAt | date:'dd-MMM-yyyy'}}</span>
					<button class="btn btn-default" type="button" data-toggle="modal"
						data-target="#delete-comment-modal"
						ng-click="BkmdCtrl.selectComment(comment)">
						<span class="glyphicon glyphicon-trash"
							style="color: red; float: right;"></span>
					</button>
				</li>
			</ul>
		</div>
	</div>

	<!-- Modal -->
	<!-- Delete comment -->
	<div class="modal fade" id="delete-comment-modal" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Delete bookmark</h4>
				</div>
				<div class="modal-body">
					<p>
						Do you want to delete <i>{{bkmCtrl.bookmark.title}}</i> ?
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
					{{BkmdCtrl.selectedComment.id}}
						ng-click="BkmdCtrl.deleteComment(BkmdCtrl.selectedComment.id)">OK</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
