<div class="row">
    <div class="col-sm-12">
        <div>
            <h1>Bookmarks</h1>
        </div>
    </div>    
</div>

<div class="row" ng-controller="BookmarkController as bkmCtrl">
    <div class="col-sm-12">
	    <div class="table-responsive">
	        <table class="table table-bordered table-hover table-condensed">
	            <thead>
	                <tr valign="middle">           			
						<th style="text-align: center;">Title</th>
						<th style="text-align: center;">Category</th>
						<th style="text-align: center; max-width: 25%;">Description</th>
						<th style="text-align: center;">URL</th>
						<th style="text-align: center;">Tags</th>
						<th style="text-align: center;">Create date</th>
						<th style="text-align: center;">Public</th>
						<th style="text-align: center;">Details</th>
						<th style="text-align: center;">Edit</th>
						<th style="text-align: center;">Delete</th>
	                </tr>
	            </thead>
	            <tbody ng-repeat="bookmark in bkmCtrl.userBookmarks track by $index">	            	
	                <tr valign="middle">
	                    <td>{{ bookmark.title }}</td>
	                    <td ng-controller="SearchController as srchCtrl">{{ bookmark.category.name }}</td>
	                    <td>{{ bookmark.description.substr(0, 100) }}...</td>
	                    <td><a href="{{bookmark.url}}" target="_blank">{{ bookmark.url }}</a></td>
	                    <td>
		                    <span ng-repeat="tag in bookmark.tag">
		                    	<span class="label label-primary">{{ tag.name }}</span>
	                    	</span>
	                    </td>
	                    <td style="text-align: center;">{{ bookmark.createdDate | date:'dd-MMM-yyyy' }}</td>
	                    <td style="text-align: center;">{{ bookmark.visible == true ? "Yes" : "No" }}</td>
                		<td class="option" style="text-align: center;">
	                        <button ng-controller="BookmarkDetailsController as BkmdCtrl" class="btn btn-info" type="button" ng-click="BkmdCtrl.goToBookmarksDetailsPage(bookmark.id)">
	                            <span class="glyphicon glyphicon-file"></span>
	                        </button>
	                    </td>
	                    <td class="option" style="text-align: center;">
	                        <button class="btn btn-warning" data-toggle="modal" data-target="#add-bookmark-modal" type="button" ng-click="bkmCtrl.editBookmark(bookmark)">
	                            <span class="glyphicon glyphicon-pencil"></span>
	                        </button>
	                    </td>
	                    <td class="option" style="text-align: center;">
	                        <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#delete-bookmark-modal" ng-click="bkmCtrl.selectBookmark(bookmark)">
	                            <span class="glyphicon glyphicon-trash"></span>
	                        </button>
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	        
	        <div>
	            <div class="panel panel-default">
	                <div class="panel-body">
	                    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#add-bookmark-modal" ng-click="bkmCtrl.addBookmark()">
	                        <span class="glyphicon glyphicon-plus"></span>
	                    </button>
	                </div>
	            </div>
	        </div>
        </div>

        <!-- Modal -->
        <!-- Delete bookmark -->
        <div class="modal fade" id="delete-bookmark-modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete bookmark</h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you want to delete <i>{{bkmCtrl.bookmark.title}}</i> ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="bkmCtrl.deleteBookmark(bkmCtrl.selectedBookmark.id)">OK</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <!-- Add/Edit bookmark -->
        <div class="modal fade" id="add-bookmark-modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add bookmark</h4>
                    </div>
                    <div class="modal-body">
                        <!-- Category Form -->
                        <form name="bkmCtrl.addBookmarkForm" novalidate>
                            <div class="form-group">
                                <label>Category: </label>
                                <div class="modal-item">
                                    <select class="form-control" name="selectCategory" ng-options="category.name for category in bkmCtrl.categories track by category.id"
                                            ng-model="bkmCtrl.bookmark.category" required>
                                        <option value="" ng-disabled="true" disabled>---Must select category---</option>
                                    </select>
                                </div>
                                <label>Title: </label>
                                <div class="modal-item" ng-class="{ 'has-error' : bkmCtrl.addBookmarkForm.title.$invalid && !bkmCtrl.addBookmarkForm.title.$pristine }">
                                    <input name="title" type="text" class="form-control" required ng-model="bkmCtrl.bookmark.title"/>
                                    <span class="error" ng-show="bkmCtrl.addBookmarkForm.title.$invalid && !bkmCtrl.addBookmarkForm.title.$pristine">* Title is required!</span>
                                    <span ng-if="bkmCtrl.error.title" class="error">{{bkmCtrl.error.title}}</span>
                                </div>
                                <label>Description: </label>
                                <div class="modal-item" ng-class="{ 'has-error' : bkmCtrl.addBookmarkForm.description.$invalid && !bkmCtrl.addBookmarkForm.description.$pristine }">
                                	<textarea name="description" class="form-control" id="" cols="30" rows="10" required ng-model="bkmCtrl.bookmark.description"></textarea>
                                    <span class="error" ng-show="bkmCtrl.addBookmarkForm.description.$invalid && !bkmCtrl.addBookmarkForm.description.$pristine">* Description is required!</span>
                                    <span ng-if="bkmCtrl.error.description" class="error">{{bkmCtrl.error.description}}</span>
                                </div>
                                
                                <label>Tags: (add new on enter key)</label>
                                <div class="modal-item">
                                    <tags-input ng-model="bkmCtrl.bookmark.tag" display-property="name" min-length="0"></tags-input>
                                </div>
                                
                                <label>URL: </label>
                                <div class="modal-item" ng-class="{ 'has-error' : bkmCtrl.addBookmarkForm.url.$invalid && !bkmCtrl.addBookmarkForm.url.$pristine }">
                                    <input name="url" type="url" class="form-control" required ng-model="bkmCtrl.bookmark.url"/>
                                    <span class="error" ng-show="bkmCtrl.addBookmarkForm.url.$invalid && !bkmCtrl.addBookmarkForm.url.$pristine">* URL is required!</span>
                                    <span ng-if="bkmCtrl.error.url" class="error">{{bkmCtrl.error.url}}</span>
                                </div>
                                <div class="checkbox">
								    <label>
								      <input type="checkbox" name="visible" ng-model="bkmCtrl.bookmark.visible"> Do you want this bookmark to be visible to others?
								    </label>
								</div>                                
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button type="button" ng-disabled="bkmCtrl.addBookmarkForm.$invalid" data-dismiss="modal" class="btn btn-default" ng-click="bkmCtrl.saveBookmark(bkmCtrl.bookmark)">OK</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="bkmCtrl.clearTags();">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" style="height: 50px;"></div>    
</div>