<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 col-xs-12">
		<div style="height: 100px;"></div>
			<!-- Log in form -->
			<div class="row">
				<div class="alert alert-danger" ng-class="{'hidden': vm.error == ''}">
					{{vm.error}}
				</div>
				<form role="form" ng-submit="vm.login(vm.loginCredentials)">
					<div class="form-group">
						<label for="login_username">Username:</label>
						<input type="text" class="form-control" id="login_username" name="login_username" ng-model="vm.loginCredentials.username"/>
					</div>
					<div class="form-group">
						<label for="login_password">Password:</label>
						<input type="password" class="form-control" id="login_password" name="login_password" ng-model="vm.loginCredentials.password"/>
					</div>	
					<button type="submit" class="btn btn-primary">Login</button>			
				</form>		
			</div>					
		</div>
	</div>
</div>