<form id="register-form" role="form" style="display: none;" name="vm.registerUserForm" ng-submit="vm.registerUser(vm.registerInput)">

	<div class="alert alert-danger" ng-class="{'hidden': vm.error == ''}">
		{{vm.error}}
	</div>

	<div class="form-group">
		<input type="text" tabindex="1" class="form-control" placeholder="Username" value="" ng-model="vm.registerInput.username" required>
	</div>
	<div class="form-group">
		<input type="email" tabindex="2" class="form-control" placeholder="Email Address" value="" ng-model="vm.registerInput.email" required>
	</div>
	<div class="form-group">
		<input type="password" tabindex="3" class="form-control" placeholder="Password (Minimal 6 characters)" pattern=".{6,}"  ng-model="vm.registerInput.password" required>
	</div>
	<div class="form-group">
		<input type="text" tabindex="4" class="form-control" placeholder="First Name" value=""  ng-model="vm.registerInput.firstName" required>
	</div>
	<div class="form-group">
		<input type="text" tabindex="5" class="form-control" placeholder="Last Name" value=""  ng-model="vm.registerInput.lastName" required>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="submit" name="register-submit" id="register-submit" tabindex="6" class="form-control btn btn-primary" value="Register Now">
			</div>
		</div>
	</div>
</form>