<form id="register-form" role="form" style="display: none;" name="mainCtrl.registerForm" ng-submit="mainCtrl.registerUser(mainCtrl.registerInput)" novalidate>

	<div class="alert alert-danger" ng-class="{'hidden': mainCtrl.errors.register == ''}">{{mainCtrl.errors.register}}</div>	

	<div class="form-group">
		<input type="text" tabindex="1" class="form-control" name="mainCtrl.registerInput.username" placeholder="Username" ng-model="mainCtrl.registerInput.username" required>
		<div style="margin-top: 5px;" class="alert alert-danger" ng-show="mainCtrl.registerForm.$submitted && mainCtrl.registerForm['mainCtrl.registerInput.username'].$error.required">Username is required.</div>
	</div>
	<div class="form-group">
		<input type="email" tabindex="2" class="form-control" name="mainCtrl.registerInput.email" placeholder="Email Address" ng-model="mainCtrl.registerInput.email" required ng-pattern = '/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
		<div style="margin-top: 5px;" class="alert alert-danger" ng-show="mainCtrl.registerForm.$submitted && mainCtrl.registerForm['mainCtrl.registerInput.email'].$invalid">Email is not valid.</div>
		<div style="margin-top: 5px;" class="alert alert-danger" ng-show="mainCtrl.registerForm.$submitted && mainCtrl.registerForm['mainCtrl.registerInput.email'].$error.required">Email is required.</div>		
	</div>
	<div class="form-group">
		<input type="password" tabindex="3" class="form-control" name="mainCtrl.registerInput.password" placeholder="Password" ng-model="mainCtrl.registerInput.password" required ng-minlength="6">
		<div style="margin-top: 5px;" class="alert alert-danger" ng-show="mainCtrl.registerForm.$submitted && mainCtrl.registerForm['mainCtrl.registerInput.password'].$invalid">Password must have minimal 6 characters.</div>	
		<div style="margin-top: 5px;" class="alert alert-danger" ng-show="mainCtrl.registerForm.$submitted && mainCtrl.registerForm['mainCtrl.registerInput.password'].$error.required">Password is required.</div>	
	</div>
	<div class="form-group">
		<input type="text" tabindex="4" class="form-control" placeholder="First Name" name="mainCtrl.registerInput.firstName" ng-model="mainCtrl.registerInput.firstName" required>
		<div style="margin-top: 5px;" class="alert alert-danger" ng-show="mainCtrl.registerForm.$submitted && mainCtrl.registerForm['mainCtrl.registerInput.firstName'].$error.required">First Name is required.</div>	
	</div>
	<div class="form-group">
		<input type="text" tabindex="5" class="form-control" placeholder="Last Name" name="mainCtrl.registerInput.lastName"  ng-model="mainCtrl.registerInput.lastName" required>
		<div style="margin-top: 5px;" class="alert alert-danger" ng-show="mainCtrl.registerForm.$submitted && mainCtrl.registerForm['mainCtrl.registerInput.lastName'].$error.required">Last Name is required.</div>	
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="submit" name="register-submit" id="register-submit" tabindex="6" class="btn btn-primary btn-raised" style="width: 100%;" value="Register Now">
			</div>
		</div>
	</div>
</form>