<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<h1>Users</h1>
			<hr />
		</div>
	</div>
</div>

<div class="row" ng-controller="UserController as uCtrl">
	<div class="col-sm-12">
		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr class="center-cell">
						<th>Email</th>
						<th>Username</th>
						<th>First name</th>
						<th>Last name</th>
						<th>Roles</th>
						<th>Active</th>
						<th style="width: 100px;">Block/Unblock</th>
						<th style="width: 100px;">Delete</th>
					</tr>
				</thead>
				<tbody ng-repeat="user in uCtrl.users track by $index">
					<tr class="center-cell">
						<td>{{user.email}}</td>
						<td>{{user.username}}</td>
						<td>{{user.firstName}}</td>
						<td>{{user.lastName}}</td>
						<td>{{user.roles[0].type}}</br>{{user.roles[1].type}}</td>
						<td><span ng-if="user.active == true"><i class="material-icons">check</i></span><span ng-if="user.active == false"><i class="material-icons">close</i></span></td>
						<td>
							<button class="btn btn-warning" type="button" data-toggle="modal" data-target="#block-user-modal" ng-click="uCtrl.selectUser(user)">
							    <i class="material-icons">block</i>
							</button>				
						</td>
						<td>
							<button class="btn btn-danger" type="button" data-toggle="modal" data-target="#delete-user-modal" ng-click="uCtrl.selectUser(user)">
							    <i class="material-icons">delete</i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<!-- Modal -->
		<!-- Block -->
		<div class="modal fade" id="block-user-modal" role="dialog">
			<div class="modal-dialog">
				Modal content
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<fieldset>
							<legend>Block/Unblock User</legend>
							<p>Do you want to block/unblock <b>{{uCtrl.user.username}}</b>? </p>
						</fieldset>						
					</div>
					<div class="modal-footer">
						<button type="button" ng-disabled="uCtrl.addUserForm.$invalid" data-dismiss="modal" class="btn btn-primary" ng-click="uCtrl.blockUser(uCtrl.user)">OK</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
				
		<!-- Modal -->
		<!-- Delete -->
		<div class="modal fade" id="delete-user-modal" role="dialog">
			<div class="modal-dialog">
				Modal content
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<fieldset>
							<legend>Delete User</legend>
							<p>Do you want to delete <b>{{uCtrl.user.username}}</b>? </p>
						</fieldset>						
					</div>
					<div class="modal-footer">
						<button type="button" ng-disabled="uCtrl.addUserForm.$invalid" data-dismiss="modal" class="btn btn-primary" ng-click="uCtrl.deleteUser(uCtrl.user)">OK</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>		
	</div>	
	<div class="col-xs-12" style="height: 50px;"></div>
</div>