<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<h1 style="margin-left: 0;">Search</h1>
		</div>
	</div>
</div>

<div class="row" ng-controller = "SearchController as srchCtrl">
	<div class="col-sm-12">
		<form id="search-form" role="form" name="searchForm" novalidate ng-submit="srchCtrl.searchBookmarks(srchCtrl.searchInput)">
			<div class="row">
				<div class="col-sm-2">
					<button type="button" class="btn btn-primary" ng-click="srchCtrl.getAllPublicBookmarks()" >Show all</button>
				</div>
				<div class="col-sm-6" style="padding-top: 10px;">
					<label class="radio-inline">
					  <input type="radio" name="searchOption" id="searchOptionCategory" value="category" ng-model="srchCtrl.searchInput.option"> Category
					</label>
					<label class="radio-inline">
					  <input type="radio" name="searchOption" id="searchOptionUser" value="username" ng-model="srchCtrl.searchInput.option"> Username
					</label>
					<label class="radio-inline">
					  <input type="radio" name="searchOption" id="searchOptionTag" value="tag" ng-model="srchCtrl.searchInput.option"> Tag
					</label>
					<label class="radio-inline">
					  <input type="radio" name="searchOption" id="searchOptionDescription" value="description" ng-model="srchCtrl.searchInput.option"> Description
					</label>
				</div>
				<div class="col-sm-4">
					<div class="input-group">
				      <input type="text" class="form-control" placeholder="Search for.." ng-model="srchCtrl.searchInput.searchField">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				      </span>
				    </div>
				</div>
			</div>
		</form>	
	
		<hr />
		<div class="row">
			<div class="col-sm-12">
			<div style="margin-top: 5px;" class="alert alert-danger" ng-show="srchCtrl.importError != ''">{{srchCtrl.importError}}</div>
				<table class="table table-bordered table-hover" ng-if="srchCtrl.bookmarks.data.length > 0 ">
					<thead>
					    <tr>
							<th style="text-align: center;">Title</th>
							<th style="text-align: center;">Category</th>
							<th style="text-align: center; max-width: 25%;">Description</th>
							<th style="text-align: center;">URL</th>
							<th style="text-align: center;">Tags</th>
							<th style="text-align: center;">Create date</th>
							<th style="text-align: center; width: 80px;">Details</th>
							<th style="text-align: center; width: 80px;">Import</th>
		                </tr>
					</thead>
					<tbody ng-repeat="bookmark in srchCtrl.bookmarks.data track by $index">
						<tr>
							<td>{{bookmark.title}}</td>
		                    <td><a class="category-link" href="" ng-click="srchCtrl.getCategoryByClickOnSearch(bookmark.category.name)">{{ bookmark.category.name }}</a></td>
		                    <td>{{ bookmark.description.substr(0, 100) }}...</td>
		                    <td><a href="{{bookmark.url}}" target="_blank">{{bookmark.url}}</a></td>
		                    <td>
			                    <span ng-repeat="tag in bookmark.tag">
								<a href="" class="tag-link" ng-click="srchCtrl.getTagByClickOnSearch(tag.name)"><span class="label label-primary">{{ tag.name }}</span></a>		                    	</span>
		                    </td>
		                    <td style="text-align: center;">{{bookmark.createdDate | date:'dd-MMM-yyyy'}}</td>
		                    <td class="option" style="text-align: center;">
		                        <button ng-controller="BookmarkDetailsController as BkmdCtrl" class="btn btn-info" data-toggle="modal" data-target="#add-bookmark-modal" type="button" ng-click="BkmdCtrl.goToBookmarksDetailsPage(bookmark.id)">
		                            <span class="glyphicon glyphicon-file"></span>
		                        </button>
		                    </td>
		                    <td class="option" style="text-align: center;">
		                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#import-bookmark-modal" ng-click="srchCtrl.selectBookmark(bookmark)">
		                            <span class="glyphicon glyphicon-save"></span>
		                        </button>
		                    </td>
						</tr>
					</tbody>
				</table>
				<div ng-if= "srchCtrl.bookmarks.data.length == 0">
					<h2>No results found for this search criteria!</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12" style="height: 50px;"></div>    
		<div class="modal fade" id="import-bookmark-modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Import bookmark</h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you want to import <i>{{srchCtrl.bookmark.title}}</i> ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="srchCtrl.importBookmark(srchCtrl.bookmark.id)">OK</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
	</div>    
</div>


